aws/tap/copilot-cli
awscli
bash
bat
btop
checkstyle
dust
eza
fd
fnm
fzf
gcc
gh
git-delta
gradle
grc
harlequin
joshmedeski/sesh/sesh
jq
lazydocker
libgit2@1.7
llvm
lnav
mysql
neovim
node
nushell
openjdk@17
powerlevel10k
pv
repo
ripgrep
rm-improved
rustup
sd
speedtest-cli
stow
tealdeer
thefuck
tokei
tree-sitter
tree-sitter-cli
xclip
yq
zsh
zsh-autosuggestions
zsh-fast-syntax-highlighting
zsh-vi-mode
