[include]
    path = ~/dotfiles/catppuccin.gitconfig
[user]
	email = nolanfpollack@gmail.com
	name = Nolan Pollack
[init]
	defaultBranch = main
[core]
	pager = delta
	excludesFile = ~/.gitignore
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[delta]
    diff-so-fancy = true
	navigate = true
	line-numbers = true
	side-by-side = true
    features = catppuccin-mocha
[color]
	ui = auto
[alias]
	root = rev-parse --show-toplevel
    recent = !~/bin/git_recent
    branch-files = !~/bin/git_branch_files
    superprune = !"git fetch --prune && git branch -vv | rg ': gone]' | awk '{print $1}' | xargs -r git branch -D"
    squash = !~/bin/git_squash

[rerere]
	enabled = true
[log]
	date = format:%Y-%m-%d %I:%M:%S %p
[index]
	skipHash = false
