[submodule "Mackup/.tmux/plugins/tpm"]
	path = Mackup/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "Mackup/.oh-my-zsh"]
	path = Mackup/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "omz/plugins/fzf-tab"]
	path = omz/plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
