aws/tap/copilot-cli
awscli
bat
eza
fd
fnm
fzf
gcc
gh
git-delta
glow
grc
jq
lazydocker
lnav
mackup
neovim
node
repo
ripgrep
tealdeer
tmux
zip
zsh-autosuggestions
zsh-fast-syntax-highlighting
zsh-vi-mode
