aws/tap/copilot-cli
awscli
bat
btop
checkstyle
dust
eza
fd
fnm
fzf
gcc
gh
git-delta
glow
gradle
gradle-completion
grc
joshmedeski/sesh/sesh
jq
lazydocker
libgit2@1.7
llvm
lnav
mackup
neovim
node
openjdk@17
pv
repo
ripgrep
rm-improved
sd
speedtest-cli
tealdeer
thefuck
tokei
xclip
yq
zsh
zsh-autosuggestions
zsh-fast-syntax-highlighting
zsh-vi-mode
