aws/tap/copilot-cli
awscli
bat
btop
eza
fd
fnm
fzf
gh
git-delta
glow
grc
joshmedeski/sesh/sesh
jq
lazydocker
lnav
mackup
neovim
node
repo
ripgrep
tealdeer
thefuck
yq
zip
zsh-autosuggestions
zsh-fast-syntax-highlighting
zsh-vi-mode
