[user]
	email = nolanfpollack@gmail.com
	name = Nolan Pollack
[core]
	pager = delta --diff-so-fancy
[page]
	diff = delta --diff-so-fancy
	show = delta
	log = delta
	blame = delta
	reflog = delta
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[init]
	defaultBranch = main
