[user]
	email = nolanfpollack@gmail.com
	name = Nolan Pollack
[core]
	pager = delta --diff-so-fancy
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[init]
	defaultBranch = main
