let mapleader=" "

set clipboard+=unnamed

inoremap jk  <Esc>
nmap H ^
nmap L $
nmap M %

nmap gr <Action>(FindUsages)
nmap <leader><leader> <Action>(SearchEverywhere)
map <Leader>e <Action>(ActivateProjectToolWindow)
map <tab> <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)
map <leader>mp <Action>(ReformatCode)
nmap K <Action>(ShowHoverInfo)

Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'michaeljsmith/vim-indent-object'
set which-key
set easymotion

set g:EasyMotion_do_mapping 0

nmap s <Plug>(easymotion-s2)